# --- Project Specific (Gradle) ---
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# --- Compiled class files ---
*.class
bin/
target/
out/

# --- Log files ---
*.log
hs_err_pid*
replay_pid*

# --- BlueJ & Mobile Tools ---
*.ctxt
.mtj.tmp/

# --- IDEs ---
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# --- Package Files ---
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
